*{
    padding: 0;
    margin: 0;
}

#cabecalho {
    background-color: yellow;
}
h1 {
    text-align: center;
}

nav {
    margin: 0px auto;
}

li {
    display: inline-block;
}

a {
    color: rgb(119, 115, 115);
    text-decoration: none;
}

a:hover {
    background-color: black;
    color: #fff;
    border-radius: 20px;
    padding: 5px;
}