html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }

.container {
    display: flex;
}

/*layout pequeno*/

@media screen and (max-width: 600px) {
    body {
        background-color: rgb(240, 230, 205);
    }

    .container {
        flex-direction: column;
    }

    header p {
        text-align: center;
        font-size: 1.5rem;
    }

    p {
        padding: 10px;
        text-align: justify;
        max-width: 100%;
        line-height: 1.5em;
    }

    header h2 {
        padding: 50px;
    }

    footer h3 {
        text-align: center;
    }
}

/*layout medio*/

@media screen and (min-width: 600px) {
    body {
        background-color: #fff;
    }

    .container {
        flex-direction: column;
    }

    header p {
        text-align: center;
        font-size: 1.8rem;
    }

    p {
        padding: 20px;
        text-align: center;
        max-width: 100%;
        line-height: 1.7em;
    }

    header h2 {
        padding: 50px;
    }

    footer h3 {
        text-align: center;
    }
    
}

/*layout grande*/

@media screen and (min-width: 1000px) {
    body {
        background-color: green;
    }
}