ol {
    background-color: yellow
}

ol li:nth-child(odd) {
    text-transform: uppercase;
}

ol li:nth-child(even) {
    color: green;
}

h1, h2{
    color: red;
    font-size: 40px;
    border: 1px solid black;
}

li, em {
    font-size: 20px;
    font-weight: black;
}